html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homepageimage
{
    height: auto;
    width: 100%;
}

.logo {
    max-width: 70px;
    max-height: 70px;
}